@font-face {
    font-family: 'Roboto';
    src: url("./assets/fonts/Roboto.ttf");
}

* {
    font-family: 'Roboto';
}

html,
body {
    margin: 0;

    background-color: #0f0f0f;
}

.container {
    width: 100vw;
    height: 100vh;
}

.top {
    display: flex;
    flex-direction: row;
    padding: 10px;

    align-items: center;
    justify-content: space-between;
}

.top .box {
    display: flex;
    gap: 10px;
}

.top .box .list {
    padding: 5px;
    display: flex;
}

.top .box a {
    display: flex;
}

.top .box a svg {
    margin: auto 0;
}

.top .search {
    display: flex;
}

.top .search .searchBox {
    border: hsl(0, 0%, 18.82%) solid 1px;
    border-radius: 25px 0 0 25px;
    border-color: hsl(0, 0%, 18.82%);
    background-color: hsl(0, 0%, 7%);
    color: #fff;
    padding: 0 4px 0 16px;
    outline: none;
    width: 32vw;
    height: 40px;
    font-size: 1rem;
}

.top .search .searchBox:focus {
    border-color: #3ea6ff;
}

.top .search .searchBtn {
    border: hsl(0, 0%, 18.82%) solid 1px;
    border-left-width: 0;
    border-radius: 0 25px 25px 0;
    background-color: hsla(0, 0%, 100%, .08);
    color: #fff;
    cursor: pointer;
    width: 64px;
}

.top .search .searchBtn svg {
    margin: auto;
}

.btnOnlyIcon {
    display: flex;
    border: #000 solid 0px;
    background-color: hsl(0, 0%, 10%);
    width: 36px;
    height: 36px;
    margin: auto 0;
    border-radius: 50%;
    cursor: pointer;
}

.btnOnlyIcon:hover {
    background-color: hsl(0, 0%, 35%);
}

.btnOnlyIcon svg {
    margin: auto;
}

.btnWithLabel {
    display: flex;
    border: #000 solid 0px;
    background-color: hsl(0, 0%, 10%);
    margin: auto 0;
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 25px;
}

.btnWithLabel:hover {
    background-color: hsl(0, 0%, 35%);
}

.btnWithLabel svg {
    margin: auto 0;
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

.btnWithLabel span {
    margin: auto 0;
    color: white;
    font-size: .8rem;
}

.btnProfile {
    display: flex;
    border: #000 solid 0px;
    width: 36px;
    height: 36px;
    margin: auto 0;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("./assets/profile.jpg");
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 120px;
}