@font-face {
    font-family: 'Roboto';
    src: url("./assets/fonts/Roboto.ttf");
}

* {
    font-family: 'Roboto';
}

html,
body {
    margin: 0;

    background-color: #0f0f0f;
}

.container {
    width: 100vw;
    height: 100vh;
}

.top {
    display: flex;
    flex-direction: row;
    padding: 10px;

    align-items: center;
    justify-content: space-between;
}

.top .box {
    display: flex;
    gap: 10px;
}

.top .box .list {
    padding: 5px;
    display: flex;
}

.top .box a {
    display: flex;
}

.top .box a svg {
    margin: auto 0;
}
