.mainscreen {
    display: flex;
    flex-direction: column;

    width: 630px;
    height: calc(100vh - 16px);
    margin: 0 auto;
    margin-top: 16px;
}

.mainscreen .stories {
    display: flex;
    flex-direction: row;
    gap: 18px;

    padding-bottom: 10px;
    overflow-x: auto;
}

.mainscreen .stories .story {
    display: flex;
    flex-direction: column;
}

.mainscreen .stories .story_border {
    display: flex;
    border: rgb(51, 51, 51) solid 3px;
    border-radius: 50%;
}

.mainscreen .stories .story img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 4px;
}

.mainscreen .stories .story span {
    font-weight: 400;
    font-size: 12px;
    color: rgb(168, 168, 168);
    margin: 0 auto;
}

.posts {
    display: flex;
    flex-direction: column;
}

.posts .post {
    margin-top: 16px;
}

.posts .title {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 400;
    color: #f5f5f5;
}

.posts .post .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px 12px 20px;
}

.posts .post .header .profile_border {
    display: flex;
    border: rgb(51, 51, 51) solid 2.5px;
    border-radius: 50%;
}

.posts .post .header img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 2px;
}

.posts .post .header .text_row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.posts .post .header .text_row .header_content {
    margin-left: 10px;
    color: #f5f5f5;
}

.posts .post .header .text_row .date {
    color: rgb(148, 148, 148);
}

.posts .post .header .text_row .follow {
    color: rgb(71, 175, 255);
    font-weight: 600;
}

.posts .post .header .more_options {
    margin: auto 0;
    margin-left: auto;
}