@font-face {
    font-family: 'Pretendard';
    src: url("./PretendardVariable.ttf");
}

/*#region 애니메이션*/

@keyframes bgani {
    0% {
        background-position: 0%;
    }

    25% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 100%;
    }

    75% {
        background-position: 50% 0;
    }

    to {
        background-position: 0%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(70px);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0px);
    }
}

@keyframes fadeInOpacityOnly {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*#endregion*/

/*#region 기본 세팅*/
* {
    user-select: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}

html {
    overflow: hidden !important;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ffffff1a;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: 0 0;
}

body {
    background: linear-gradient(-57.7143deg, #090909, #101010, #111, #1a1a1a) 0 0/100% 100%;
    justify-content: center;
    align-items: center;
    animation: 11.7s ease-in-out infinite bgani;
}

.screen {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-y: scroll;
}

/*#endregion*/

/*#region 네비게이터*/
.navigator {
    position: absolute;
    left: 50%;
    bottom: 50px;
    backdrop-filter: blur(10px);
    width: 235px;
    height: 42.5px;
    border-radius: 50px;
    box-shadow: inset 0px 0px 20px 0px rgb(255 255 255 / 45%);
    background-color: #ffffff1f;
    opacity: 0;
    transform: translateX(-50%) translateY(70px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    animation: fadeIn .6s cubic-bezier(0.187, 1.736, 0.64, 1) forwards;
    animation-delay: 1s;
    border: 2.77px solid rgba(255, 255, 255, .5);
}

.navigator a {
    overflow: hidden;
}

.navigator a img {
    cursor: pointer;
    transition-duration: .25s;
    width: 32.5px;
    height: 32.5px;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    filter: invert(1);
    margin: auto 0;
    overflow-y: hidden;
}

.navigator a img:hover {
    background-color: #88888888;
}
/*#endregion*/

/*#region home*/
.home {
    display: flex;
    height: 100vh;
}

.home .texts {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.home .texts .title {
    font-family: 'Pretendard';
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    animation: fadeInOpacityOnly .6s ease-in-out forwards;
    opacity: 0;
    margin: 0 auto;
}

.home .texts .desc {
    font-family: 'Pretendard';
    font-size: 1.08rem;
    font-weight: 300;
    color: white;
    animation: fadeInOpacityOnly .6s ease-in-out forwards;
    opacity: 0;
    margin: 0 auto;
}
/*#endregion*/

/*#region projects*/
.projects {
    width: 100vw;
    padding: 20px;
}

.projects .texts {
    display: flex;
    flex-direction: column;
}

.projects .title {
    font-family: 'Pretendard';
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.projects .desc {
    font-family: 'Pretendard';
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
}

.projects .project {
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .projects {
        padding: 10vw;
    }
}

/*#endregion*/
