div {
    color: blue;
}

.class1:active {
    color: yellow;
}

.button:active {
    background: black;
}

input:focus {
    outline: none;
    border: 2px solid blue;
}

li:first-child {
    color: blue;
}

li:nth-child(2) {
    color: yellow;
}


p::selection {
    background-color: black;
}

.parent > .child {
    color: red;
}

p {
    color: #f27373;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-decoration: line-through;
}